<div class="o-intro{{#if modifier}} o-intro--{{modifier}}{{/if}}" data-t-name="Intro"{{#if decorator}} data-t-decorator="{{decorator}}"{{/if}}>
	<div class="o-intro__slider">
		{{pattern name="slider"}}
	</div>
	<div class="o-intro__content">
		<div class="container">
			<div class="o-intro__row row">
				<div class=" col-4 o-intro__menu">
					{{pattern name="menu"}}
				</div>
				<div class=" col-4 o-intro__menu">
				</div>
				<div class="col-4 o-intro__logo">
					{{pattern name="image"}}
				</div>
			</div>
		</div>
	</div>
</div>
