<div class="m-teaser" data-t-name="Teaser">
	<div class="m-teaser__image">
		{{pattern name="image" data="image-teaser"}}
	</div>
	<div class="m-teaser__content">
		<h2>{{title}}</h2>
		<h4>{{extra}}</h4>
		<p>{{text}}</p>
		<a href="{{link.href}}">{{link.text}}</a>
	</div>
</div>
