{{pattern name="menu" data=menu}}
{{pattern name="intro" data=intro}}
<div class="container">
	{{pattern name="title" data=mainTitle}}
	{{pattern name="grid" data=grid}}
</div>
{{pattern name="footer"}}
